*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 992px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: inherit;
}


.App {
  text-align: center;
}
